.app-container {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  width: 100%;
  min-height: 100vh;
  background: #050505 url("/backforfeed.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; // Убираем скроллбар у контейнера
}

.main-content {
  padding: 20px;
  overflow-y: auto; // Оставляем скролл только для контента
  overflow-x: hidden; // Убираем горизонтальный скролл
  max-height: 100vh;
  display: flex;
  justify-content: center;
  

  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE и Edge
  
  &::-webkit-scrollbar {
    display: none; 
  }
}

.right-panel {
  overflow-y: auto; 
  overflow-x: hidden;
  max-height: 100vh;
  
 
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE и Edge
  
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}