<div class="rightbar">
  <div class="rightbar-header">
    <div class="avatarka">

      <img src="/avatarka.jpg" alt="avatarka" class="ava">
      <span class="nick">Arlekisha</span>


    </div>

    <div class="rightbar-menu">
      <nav>
        <a routerLink="/feed" routerLinkActive="active" class="nav-item">
          <span>Profile</span>
        </a>
        <a routerLink="/feed" routerLinkActive="active" class="nav-item">
          <span>Relationship</span>
        </a>
        <a routerLink="/feed" routerLinkActive="active" class="nav-item">
          <span>Subscribes</span>
        </a>
      </nav>
    </div>
  </div>
</div>
